body {
  height: 100%;
  overflow-y:scroll;
  width: 100%;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: rgba(238, 238, 238);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(189, 195, 199);
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


.title_is_4 {
  display: flex;
}


.bestseller-content__space {
    width: 100%;
    margin: 12rem 0 1rem;

    display: flex;
}


.bestseller_title {
    font-size: 70px;
    letter-spacing: -0.017em;
    color: #E7B925;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2vw;
    filter: contrast();
    
}

.button-is-success {
  margin: 0;
  position: absolute;
  top: 105%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}

.button-is-success button{
    flex: 0.6;
    width: 200px;
    min-width: 50px;
    
    background-color: transparent;
    border-radius: 50px;
    border-color: #E7B925;
    background-color: #E7B925;
    font-size: 25px;
    font-family: var(--font-family);
    font-weight: 700;
    line-height: 60px;

    letter-spacing: -0.017em;
    color: black;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;

    filter: contrast();
}

.recommend-content__input {
  width: 100%;
  margin: 2rem 0 1rem;

  display: flex;
}

.newcard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  
}

.newcard::-webkit-scrollbar {
  width: 12px;
}

.newcard::-webkit-scrollbar-track {
  background-color: #042c54;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

.newcard::-webkit-scrollbar-thumb {
  background-color: #032246;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.newcard_image {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100vh;
  object-fit: cover;
  object-position: center;
  border-radius: 10px; ;
}

.newcard_image img{
  width: 800px;
  height: 500px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px; ;
}


/* On mouse-over, add a deeper shadow */
.newcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.newcard_content {
  padding: 20px 160px;
}

.card_footer_item {
  flex: 0.6;
    width: 200px;
    min-width: 50px;
    
    background-color: transparent;
    border-radius: 50px;
    border-color: #E7B925;
    background-color: #E7B925;
    font-size: 25px;
    font-family: var(--font-family);
    font-weight: 700;
    line-height: 60px;

    letter-spacing: -0.017em;
    color: black;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;

    filter: contrast();
}

.title_is_4 {
  font-size: 50px;
    letter-spacing: -0.017em;
    color: #E7B925;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2vw;
    filter: contrast();
}

