.bestseller-content__space {
    width: 100%;
    margin: 12rem 0 1rem;

    display: flex;
}


.bestseller_title {
    font-size: 70px;
    letter-spacing: -0.017em;
    color: #E7B925;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2vw;
    filter: contrast();
    
}

.button-is-success {
  padding: 2rem 51.55rem;
}

.button-is-success button{
  flex: 0.6;
    width: 200px;
    min-width: 50px;
    
    background-color: transparent;
    border-radius: 50px;
    border-color: #E7B925;
    background-color: #E7B925;
    font-size: 25px;
    font-family: var(--font-family);
    font-weight: 700;
    line-height: 60px;

    letter-spacing: -0.017em;
    color: black;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;

    filter: contrast();
}

.newcard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.newcard_image {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}


/* On mouse-over, add a deeper shadow */
.newcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.newcard_content {
  padding: 2px 16px;
}