.carniresult {
    display: flex;
}

.carniresult-content {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;

    filter: contrast();

}
.carniresult-content__input {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.carniresult-content__back {
    width: 100%;
    margin: -7rem 0 1rem;

    display: flex;
}

.carniresult-content__input button {
    flex: 0.6;
    width: 100%;
    min-width: 50px;
    margin-top: 5rem;
    background-color: transparent;
    border-radius: 50px;
    border-color: #ffffff;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;

    letter-spacing: -0.017em;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;

    filter: contrast();

}

.carniresult-content h1 {
    font-family: Mitr;
    font-weight: 700;
    font-size: 40px;
    line-height: 90px;
    letter-spacing: -0.017em;
    color: #E7B925;
    filter: contrast();

}

.carniresult-content p {
    font-family: Mitr;
    color: #E7B925;
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
    letter-spacing: -0.017em;

    filter: contrast();

}


/*จัดวางตำแหน่งจานผัดไทย*/
.carniresult-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: contrast(); 
}

  /*รูปจานผัดไทย*/
.carniresult-image-top {
    padding-top: 0px; 
    padding-right: 20%; 
    padding-left: 27px;
    width: 100%; 
    z-index: 0;
  }

.vegetresult-image-top img{
    width: 800px;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px; ;
  }
  /*จัดวางตำแหน่งพื้นหลังสีเหลือง*/
.carniresult-yellow {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #E7B925;
    clip-path: ellipse(700px 1500px at right 800px)
}

/*การแสดงผลGood food is the foundation of happiness.บนหน้าจอmobile phone*/
@media screen and (max-width: 1050px) {
    .carniresult {
        flex-direction: column;
    }

    .carniresult-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .carniresult h1 {
        font-size: 48px;
        line-height: 60px;
        }
}

