*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

section{
    height: 100vh;
    width: 100%;
    background-color: rgb(66, 62, 77);
   background-position: center;
   background-repeat: no-repeat;
   
}


.btn-img{
    display: flex;
    justify-content: center;
    align-items: center;
}