/*ส่วนโลโก้*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 6rem;
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-links_logo {
    margin-right: 2rem;
}
.navbar-links_logo img{
    width: 100px;
    height: 100px
}
/*ส่วนแถบmenuแถวบนสุด*/
.navbar-links_container {
    display: flex;
    flex-direction: row;
}

.navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/*ฟ้อนกับสีตัวหนังสือแถบmenu*/
/*ฟ้อนแก้ไขที่index.css*/
.navbar-links_container p,
.navbar-sign p,
.navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
/* identical to box height */
    letter-spacing: -0.017em;

    margin: 0 1rem;
    cursor: pointer;
}
/*แก้ไขปุ่มsign up*/
.navbar-sign button,
.navbar-menu_container button {
    padding: 0.5rem 1rem;
    color: #fff;
    left: 1153px;
    background: #FF4820;
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
}

/*ปุ่มmenu botton มุมขวาบน*/
.navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.navbar-menu svg {
    cursor: pointer;
}

.navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2)
}

.navbar-menu_container p {
    margin: 1rem 0;
}

.navbar-menu_container-links-sign {
    display: none;
}

/*ตอนย่อความกว้างหน้าจอ ปุ่มmenu bottonจะแสดงขึ้นมา*/
@media screen and (max-width: 1050px) {
    .navbar-links_container {
        display: none;
    }
    .navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .navbar {
        padding: 2rem 4rem;
        }
}

/*ย้ายปุ่มsignมาอยู่ในmenu bottonตอนเปิดในmobile phone*/

@media screen and (max-width: 550px) {
    .navbar {
        padding: 2rem;
        }
    .navbar-sign {
        display: none
    }
    .navbar-menu_container {
        top: 20px;
    }
    .navbar-menu_container-links-sign {
        display: block;
    }
}
